<a href="https://colab.research.google.com/github/BryanGF0822/spark-practice-globant/blob/main/Spark_Quiz_Academy_2023_1_Bryan_Guapacha_Globant.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting Started with Spark Standalone cluster

Before you start the test, make sure you run all the initial steps to setup your Spark standalone cluster.

## Mount Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# Spark Quiz 
# Getting Started with Spark Instalation

Before you start the test, make sure you run all the initial steps to setup your Spark standalone cluster.

In [2]:
#check environment
!python --version
!java -version

Python 3.9.16
openjdk version "11.0.18" 2023-01-17
OpenJDK Runtime Environment (build 11.0.18+10-post-Ubuntu-0ubuntu120.04.1)
OpenJDK 64-Bit Server VM (build 11.0.18+10-post-Ubuntu-0ubuntu120.04.1, mixed mode, sharing)

In [3]:
!rm spark-3.1.1-bin-hadoop3.2
!ls -l
!pwd

rm: cannot remove 'spark-3.1.1-bin-hadoop3.2': No such file or directory
total 292380
drwx------  6 root root      4096 Mar 27 01:34 gdrive
drwxr-xr-x  2 root root      4096 Mar 27 02:36 ml-latest-small
drwxr-xr-x  2 root root      4096 Mar 27 02:37 moves-rating.parquet
drwxr-xr-x  2 root root      4096 Mar 27 02:37 movies.parquet
drwxr-xr-x  1 root root      4096 Mar 23 18:57 sample_data
drwxr-xr-x 14  501 1000      4096 Mar 27 01:42 spark-3.3.2
drwxr-xr-x 13  501 1000      4096 Feb 10 20:40 spark-3.3.2-bin-hadoop3
-rw-r--r--  1 root root 299360284 Feb 10 21:28 spark-3.tgz
drwxr-xr-x  2 root root      4096 Mar 27 01:50 tags.parquet
/content

In [4]:
#Install Java 8 and check
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!ls -l /usr/lib/jvm/

total 8
lrwxrwxrwx 1 root root   25 Jul 17  2019 default-java -> java-1.11.0-openjdk-amd64
lrwxrwxrwx 1 root root   21 Jan 20 09:07 java-1.11.0-openjdk-amd64 -> java-11-openjdk-amd64
drwxr-xr-x 9 root root 4096 Mar 23 18:50 java-11-openjdk-amd64
lrwxrwxrwx 1 root root   20 Jan 24 19:02 java-1.8.0-openjdk-amd64 -> java-8-openjdk-amd64
drwxr-xr-x 7 root root 4096 Mar 27 01:34 java-8-openjdk-amd64

In [5]:
#Download Spark
# download spark3.0.0
!wget -O spark-3.tgz q https://dlcdn.apache.org/spark/spark-3.3.2/spark-3.3.2-bin-hadoop3.tgz
!tar xf spark-3.tgz
!rm spark-3.tgz
!mv spark-3.3.2-bin-hadoop3 spark-3.3.2
!ls -l

--2023-03-27 02:40:31--  http://q/
Resolving q (q)... failed: Name or service not known.
wget: unable to resolve host address ‘q’
--2023-03-27 02:40:31--  https://dlcdn.apache.org/spark/spark-3.3.2/spark-3.3.2-bin-hadoop3.tgz
Resolving dlcdn.apache.org (dlcdn.apache.org)... 151.101.2.132, 2a04:4e42::644
Connecting to dlcdn.apache.org (dlcdn.apache.org)|151.101.2.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 299360284 (285M) [application/x-gzip]
Saving to: ‘spark-3.tgz’

spark-3.tgz         100%[===================>] 285.49M  98.8MB/s    in 2.9s

2023-03-27 02:40:34 (98.8 MB/s) - ‘spark-3.tgz’ saved [299360284/299360284]

FINISHED --2023-03-27 02:40:34--
Total wall clock time: 3.2s
Downloaded: 1 files, 285M in 2.9s (98.8 MB/s)
mv: cannot move 'spark-3.3.2-bin-hadoop3' to 'spark-3.3.2/spark-3.3.2-bin-hadoop3': Directory not empty
total 32
drwx------  6 root root 4096 Mar 27 01:34 gdrive
drwxr-xr-x  2 root root 4096 Mar 27 02:36 ml-latest-small
drwxr-xr-x  2 root root 4096 Mar 27 02:37 moves-rating.parquet
drwxr-xr-x  2 root root 4096 Mar 27 02:37 movies.parquet
drwxr-xr-x  1 root root 4096 Mar 23 18:57 sample_data
drwxr-xr-x 14  501 1000 4096 Mar 27 01:42 spark-3.3.2
drwxr-xr-x 13  501 1000 4096 Feb 10 20:40 spark-3.3.2-bin-hadoop3
drwxr-xr-x  2 root root 4096 Mar 27 01:50 tags.parquet

In [6]:
# install findspark 
!pip install -q findspark
!pip install -q pyspark

## Environment Variables

In [7]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.2"

##Quick Installation Test

Time to test our spark installation and the version of it.

In [8]:
import findspark
findspark.init()

import pyspark
print(f"pyspark version {pyspark.__version__}")

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Test_spark").master("local[*]").getOrCreate()
spark

pyspark version 3.3.2

In [9]:
#Stop spark context, only apply for AppName Test_spark
spark.stop()

In [10]:
# **Download Exam Files**
!wget http://files.grouplens.org/datasets/movielens/ml-latest-small.zip
!unzip ml-latest-small.zip
!rm -r ml-latest-small.zip
!echo "------------------------------------ List of files ------------------------------------"
!ls -l ml-latest-small/

--2023-03-27 02:41:07--  http://files.grouplens.org/datasets/movielens/ml-latest-small.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 978202 (955K) [application/zip]
Saving to: ‘ml-latest-small.zip’

ml-latest-small.zip 100%[===================>] 955.28K  4.55MB/s    in 0.2s

2023-03-27 02:41:07 (4.55 MB/s) - ‘ml-latest-small.zip’ saved [978202/978202]

Archive:  ml-latest-small.zip
replace ml-latest-small/links.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace ml-latest-small/tags.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace ml-latest-small/ratings.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace ml-latest-small/README.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace ml-latest-small/movies.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
------------------------------------ List of files ------------------------------------
total 3516
-rw-r--r-- 1 root root  197979 Sep 26  2018 links.csv
-rw-r--r-- 1 root root  494431 Sep 26  2018 movies.csv
-rw-r--r-- 1 root root  284343 Mar 27 02:29 movies.parquet
-rw-r--r-- 1 root root 2483723 Sep 26  2018 ratings.csv
-rw-r--r-- 1 root root    8342 Sep 26  2018 README.txt
-rw-r--r-- 1 root root  118660 Sep 26  2018 tags.csv

In [11]:
from pyspark import SparkContext, SparkConf
import pyspark.sql.functions as f

spark = SparkSession.builder \
    .master("local[*]") \
    .appName("MovieRatings-Quiz") \
    .getOrCreate()

sc = spark.sparkContext

#Let's Start

Load All Files.

In [12]:
df_links = spark.read.csv('/content/ml-latest-small/links.csv',header=True,escape="\"")
df_movies = spark.read.csv('/content/ml-latest-small/movies.csv',header=True,escape="\"")
df_ratings = spark.read.csv('/content/ml-latest-small/ratings.csv',header=True,escape="\"")
df_tags = spark.read.csv('/content/ml-latest-small/tags.csv',header=True,escape="\"")

Show the number of records for each File

In [13]:
print("df_links = " + str(df_links.count()))
print("df_movies = " + str(df_movies.count()))
print("df_ratings = " + str(df_ratings.count()))
print("df_tags = " + str(df_tags.count()))

df_links = 9742
df_movies = 9742
df_ratings = 100836
df_tags = 3683

Work with Datasets

In [14]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [15]:
df_tags.printSchema()

root
 |-- userId: string (nullable = true)
 |-- movieId: string (nullable = true)
 |-- tag: string (nullable = true)
 |-- timestamp: string (nullable = true)

In [16]:
df_movies.printSchema()

root
 |-- movieId: string (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

In [17]:
df_ratings.printSchema()

root
 |-- userId: string (nullable = true)
 |-- movieId: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- timestamp: string (nullable = true)

In [18]:
df_mr_joined = df_movies.join(df_ratings, on='movieId',how='inner')

In [19]:
df_mr_joined.printSchema()

root
 |-- movieId: string (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- timestamp: string (nullable = true)

In [20]:
df_mr_joined.show(5,0)

+-------+---------------------------+-------------------------------------------+------+------+---------+
|movieId|title                      |genres                                     |userId|rating|timestamp|
+-------+---------------------------+-------------------------------------------+------+------+---------+
|1      |Toy Story (1995)           |Adventure|Animation|Children|Comedy|Fantasy|1     |4.0   |964982703|
|3      |Grumpier Old Men (1995)    |Comedy|Romance                             |1     |4.0   |964981247|
|6      |Heat (1995)                |Action|Crime|Thriller                      |1     |4.0   |964982224|
|47     |Seven (a.k.a. Se7en) (1995)|Mystery|Thriller                           |1     |5.0   |964983815|
|50     |Usual Suspects, The (1995) |Crime|Mystery|Thriller                     |1     |5.0   |964982931|
+-------+---------------------------+-------------------------------------------+------+------+---------+
only showing top 5 rows

In [21]:
# Se que esta no es la forma correcta, porque si fueran muchas mas filas seria muy tedioso buscar.
# Sin Embargo, mas abajo lo haré de nuevo con la sentencia like()
filtered_df = df_mr_joined.filter((col('userId') == '264'))

In [22]:
filtered_df.show()

+-------+--------------------+--------------------+------+------+----------+
|movieId|               title|              genres|userId|rating| timestamp|
+-------+--------------------+--------------------+------+------+----------+
|      1|    Toy Story (1995)|Adventure|Animati...|   264|   4.0|1136978964|
|     32|Twelve Monkeys (a...|Mystery|Sci-Fi|Th...|   264|   1.0|1136979041|
|     48|   Pocahontas (1995)|Animation|Childre...|   264|   3.0|1136978326|
|    110|   Braveheart (1995)|    Action|Drama|War|   264|   2.5|1136978677|
|    150|    Apollo 13 (1995)|Adventure|Drama|IMAX|   264|   4.0|1136978697|
|    151|      Rob Roy (1995)|Action|Drama|Roma...|   264|   2.5|1136978254|
|    253|Interview with th...|        Drama|Horror|   264|   4.0|1136979096|
|    316|     Stargate (1994)|Action|Adventure|...|   264|   3.5|1136979048|
|    329|Star Trek: Genera...|Adventure|Drama|S...|   264|   4.5|1136979078|
|    356| Forrest Gump (1994)|Comedy|Drama|Roma...|   264|   3.5|1136978982|
|    364|Lion King, The (1...|Adventure|Animati...|   264|   3.5|1136978642|
|    367|    Mask, The (1994)|Action|Comedy|Cri...|   264|   4.0|1136979112|
|    480|Jurassic Park (1993)|Action|Adventure|...|   264|   2.0|1136978631|
|    527|Schindler's List ...|           Drama|War|   264|   4.0|1136979020|
|    595|Beauty and the Be...|Animation|Childre...|   264|   4.0|1136978553|
|    648|Mission: Impossib...|Action|Adventure|...|   264|   3.0|1136979056|
|    653|  Dragonheart (1996)|Action|Adventure|...|   264|   2.5|1136978212|
|    780|Independence Day ...|Action|Adventure|...|   264|   3.5|1136978999|
|    783|Hunchback of Notr...|Animation|Childre...|   264|   4.0|1136978499|
|   1023|Winnie the Pooh a...|Animation|Childre...|   264|   1.5|1136978598|
+-------+--------------------+--------------------+------+------+----------+
only showing top 20 rows

In [23]:
# Esta es la manera correcta de encontrar el resultado.
filtered_df_2 = df_mr_joined.filter((col('title').like('%Apollo 13%')) & (col('userId') == 264))

In [24]:
filtered_df_2.show()

+-------+----------------+--------------------+------+------+----------+
|movieId|           title|              genres|userId|rating| timestamp|
+-------+----------------+--------------------+------+------+----------+
|    150|Apollo 13 (1995)|Adventure|Drama|IMAX|   264|   4.0|1136978697|
+-------+----------------+--------------------+------+------+----------+

In [25]:
filtered_df_3 = df_mr_joined.filter(col('userId') == 189).orderBy(desc('rating')).limit(10)

In [26]:
filtered_df_3.show()

+-------+--------------------+--------------------+------+------+----------+
|movieId|               title|              genres|userId|rating| timestamp|
+-------+--------------------+--------------------+------+------+----------+
|  58559|Dark Knight, The ...|Action|Crime|Dram...|   189|   5.0|1439465067|
|  54286|Bourne Ultimatum,...|Action|Crime|Thri...|   189|   4.5|1439465114|
|    527|Schindler's List ...|           Drama|War|   189|   4.5|1439465064|
|  68954|           Up (2009)|Adventure|Animati...|   189|   4.5|1439465136|
|  79132|    Inception (2010)|Action|Crime|Dram...|   189|   4.5|1439465099|
|    318|Shawshank Redempt...|         Crime|Drama|   189|   4.0|1439465054|
|    593|Silence of the La...|Crime|Horror|Thri...|   189|   4.0|1439465116|
|    356| Forrest Gump (1994)|Comedy|Drama|Roma...|   189|   4.0|1439465080|
|   1265|Groundhog Day (1993)|Comedy|Fantasy|Ro...|   189|   4.0|1439465112|
|   2571|  Matrix, The (1999)|Action|Sci-Fi|Thr...|   189|   4.0|1439465057|
+-------+--------------------+--------------------+------+------+----------+

In [27]:
filtered_df_4 = df_mr_joined.filter(col('title').like('%Fight Club%')).agg({'rating': 'min'})

In [28]:
filtered_df_4.show()

+-----------+
|min(rating)|
+-----------+
|        0.5|
+-----------+

In [29]:
df_mr_joined_2 = df_movies.join(df_tags, on='movieId',how='inner')

In [30]:
df_mr_joined_2.printSchema()

root
 |-- movieId: string (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- tag: string (nullable = true)
 |-- timestamp: string (nullable = true)

In [31]:
# el metodo contains() tambien me permite ver si una palabra o frase se encuentra dentro de una cadena de texto String.
filtered_df_5 = df_mr_joined_2.filter((col('title').contains('Matrix')) & (col('userId') == '474'))

In [32]:
filtered_df_5.show()

+-------+------------------+--------------------+------+------------------+----------+
|movieId|             title|              genres|userId|               tag| timestamp|
+-------+------------------+--------------------+------+------------------+----------+
|   2571|Matrix, The (1999)|Action|Sci-Fi|Thr...|   474|alternate universe|1137204991|
+-------+------------------+--------------------+------+------------------+----------+

In [33]:
# Aplicamos filtro por el usuario 103
filtered_df_6 = df_mr_joined_2.filter(col('userId') == 103)

# Seleccionamos los id de las peliculas únicas a las que el user 103 ha puesto un tag
movies_list = filtered_df_6.select('movieId').distinct()

# Se imprimen los nombres
for row in movies_list.collect():
  title = filtered_df_6.filter(col('movieId') == row[0]).select('title').first()[0]
  print(title)

Pulp Fiction (1994)
Star Wars: Episode IV - A New Hope (1977)

In [34]:
# Buscando las pelicula con mayor cantidad de tags con el nuevo dataset creado a partir del join

tag_counts = df_mr_joined_2.groupBy('movieId').count()

tag_counts_ordered = tag_counts.orderBy(desc('count'))

tag_counts_ordered.show(10,0)

most_tagged_movie = tag_counts_ordered.select('movieId').first()[0]

print(most_tagged_movie)

+-------+-----+
|movieId|count|
+-------+-----+
|296    |181  |
|2959   |54   |
|924    |41   |
|293    |35   |
|7361   |34   |
|1732   |32   |
|4878   |29   |
|79132  |26   |
|260    |26   |
|135536 |19   |
+-------+-----+
only showing top 10 rows

296

In [35]:
movie_title = df_mr_joined_2.filter(col('movieId') == most_tagged_movie).select('title').first()[0]
print(movie_title)

Pulp Fiction (1994)

In [36]:
# Buscando la pelicula con la mayor cantidad de tags, utilizando los dataset por separado.
most_tagged_movie2 = df_tags.groupBy('movieId').count().orderBy(desc('count')).first()['movieId']
movie_title2 = df_movies.filter(col('movieId') == most_tagged_movie).select('title').first()[0]

print(movie_title2)

Pulp Fiction (1994)

In [37]:
most_active_user = df_mr_joined_2.groupBy('userId').count().orderBy(desc('count')).first()['userId']
print(most_active_user)

474

In [38]:
most_active_user2 = df_tags.groupBy('userId').count().orderBy(desc('count')).first()['userId']
print(most_active_user2)

474

In [39]:
num_ratings = df_ratings.filter(df_ratings.userId == 448).count()
print(num_ratings)

1864

In [40]:
# Guardar los datos del archivo de películas en formato Parquet
df_movies.write.format('parquet').mode('overwrite').save('movies.parquet')

# Obtener el tamaño aproximado del archivo guardado en kilobytes
import os
size = os.path.getsize('movies.parquet')
size_kb = size / 1024
print('El tamaño aproximado del archivo movies en formato Parquet es:', size_kb, 'KB')

El tamaño aproximado del archivo movies en formato Parquet es: 4.0 KB

In [41]:
df_tags.write.format('parquet').mode('overwrite').save('tags.parquet')

size = os.path.getsize('tags.parquet') / 1024
print('El tamaño aproximado del archivo tags en formato Parquet es:', size, 'KB')

El tamaño aproximado del archivo tags en formato Parquet es: 4.0 KB

In [42]:
##import pandas as pd
##import os

##df_movies_pd = pd.read_csv('/content/ml-latest-small/movies.csv')

# Guardar el archivo en formato parquet
##df_movies_pd.to_parquet('/content/ml-latest-small/movies.parquet')

# Obtener el tamaño aproximado del archivo en kilobytes
##file_size = os.path.getsize('movies.parquet') / 1024
##print(f"The approximate size of the new file is: {file_size} KB")

In [43]:
movie_view = df_movies.createOrReplaceTempView('movies')
rating_view = df_ratings.createOrReplaceTempView('ratings')

In [44]:
df_sql = spark.sql('SELECT movies.movieId, title, genres, userId, rating, timestamp FROM movies INNER JOIN ratings on movies.movieId = ratings.movieId Where rating > 4.0 ')

In [45]:
df_sql.repartition(1).write.format('parquet').mode('overwrite').save('moves-rating.parquet')

In [46]:
mr_parquet = spark.read.parquet('moves-rating.parquet')

In [47]:
num_records = mr_parquet.count()
print(num_records)

21762

In [48]:
shawshank_ratings = mr_parquet.filter(col('title').contains('Shawshank Redemption'))

avg_rating = shawshank_ratings.agg(avg('rating')).collect()[0][0]
print(avg_rating)

4.878712871287129

In [49]:
sc.stop()